@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  /*white-space: pre-wrap;*/
  word-break: break-word;
  font-family: "Roboto";
  font-size: max(16px, calc(12.5px + 0.25vw));

}

@media (min-width: 740px) {

  
  

  #github_logo {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .modall-content {
    height: 95%;
    
  }

  #detailedPrjGrid {
    padding: 18px;
  }

  .academics-table {
    width: 80%;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #nav-list>li {
    display: inline-block;
  }

  #forTransform {
    display: none;
  }

  #MainGrid {
    grid-template-columns: 28.5% auto;
    width: 85%;

  }

  #aboutMyself {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }



  #detailedPrjGrid {
    grid-template-rows: 1fr 2fr 1fr auto;
    grid-template-columns: 60fr 42fr;
    grid-column-gap: 25px;
  }

  #my-slide-show {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #descr {

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 739.999px) {

  

  .modall-content {
    
    width: 100%;
    height: 100%;
  }

  #detailedPrjGrid {
    padding: 12px;
  }

  .academics-table {
    width: 95%;
  }

  #navigation {
    flex-direction: column;
  }

  #nav-list>li {
    display: block;
  }


  #MainGrid {
    grid-template-columns: auto;
    width: 95%;
  }

  #detailedPrjGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 10px;
  }
}


#gcse-container,
#implemented,
.featureGrid p,
#detailedPrjGrid,
.project_cards-grid-item,
.page_item {
  border: 2px solid #DFE1E6;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  /*border: 2px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0.45rem;
}

p{
  margin-bottom: 0.85rem !important;
}

#experience {

  max-width: 1192px;
  
}

#navigation {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#slide-down-container{
  border-radius: 12px;
  width: 82%;
  padding: 16px;
  background-color: hsla(0,0%,82%);
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  margin:auto;
}
img {
  max-width:100%;
  max-height:100%;
}

.media_containers {
  max-width: 80px;
  max-height: 85px;
  margin: 5%;
  cursor: pointer
}
.media_containers:hover{
  box-shadow: 0px 0px 7px 5px #FF7505;
}
#head-item {
  max-height: calc(70px + 5vw);
}


.perfect_align {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

#my-slide-show {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}









#reactive_grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 5px;
}

ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#nav-list {
  list-style: none;
  padding-left: 0;


}

.active {
  padding-bottom: 0.5px;
  border-bottom: 2px solid hsl(210, 10%, 78%);
}

#nav-list>li {
  transition: all 0.4s;
  padding: calc(10px + 0.35vw);
  cursor: pointer;
}
/*
#nav-list>li {
  color: white;
  

}
*/
#nav-list>li>span {
  font-size: max(18px, calc(16px + 0.30vw));
}
/*
#nav-list>li:hover {
  background-color: hsla(0, 0%, 100%, 1);
  color: black;

}
*/
#navigation {
  width: 100%;

  padding: 0.65vh;

  /*background-color: hsla(188, 33%, 46%, 0.78);*/
  background-color: #353b41;


}
#navigation > ul > li {
  color: white;
  padding: 14px;
  cursor: pointer;
  transition: all 0.2s;
}
#navigation > ul > li:hover {
  background-color: hsl(210, 10%, 45%);
}

#main {
  margin-top: 3vh;
  margin-bottom: 2vh;
  
  display: flex;
  justify-content: center;


}

@keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}

#MainGrid {
  max-width: 1350px;
  display: grid;

  grid-gap: 15px;
}

.page_item {
  display: inline-block;

  padding: 12px;
  background-color: white;
}

.MainGrid-item {

  text-align: center;


}

#profilePic {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}





p {
  margin-left: 4px;
  text-align: start;
}

.alignCenter {
  text-align: center;
}

.books-grid {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-row-gap: 2.8vh;
  grid-column-gap: 1vw;
  grid-template-columns: 35% auto;
  grid-template-rows: auto auto auto;
  max-width: 85%;
}

.books-grid-img {
  max-width: auto;
}

.horizontal-aligner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Heading {
  text-align: center;
  font-size: calc(16px + 0.65vw) !important;
}

.dropright>button {
  text-align: center;
  padding: 12px;
  font-size: calc(16px + 0.65vw) !important;

}

.dropdown-menu {
  padding: 20px;
}

.books-grid-item {
  position: relative;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: hsl(0, 0%, 96.5%);
  /*
  background: rgb(238,238,238);
  background: linear-gradient(270deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
  */
}

html,
body,
.book-title {
  height: 100%;
}

.book-title {
  display: flex;
  align-items: center;
  justify-content: center;
}




#project_cards-grid {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  flex: auto;
  padding: 30px;
}

.project_cards-grid-item {
  max-width: 350px;

  padding: 8px;
  margin: 15px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.thumbnail {
  width: 100%;
  margin-bottom: 15px;
}

.btn-expand {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: calc(18px + 0.4vw) !important;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.8s;
}

.btn-expand:after,
.btn-expand:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.8s;
}

.btn-expand:after {
  top: -1px;
  left: -1px;
  border-top: 4px solid black;
  border-left: 4px solid black;
}

.btn-expand:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.btn-expand:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-expand:hover:before,
.btn-expand:hover:after {
  width: 100%;
  height: 100%;
}

.viewProjectBtnContainer {
  margin-bottom: 10px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-show-container {

  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;

}



.slide-show-image-container {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
}

.slide-show-dots-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}

.slide-show-dot {
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 8px;
  border-radius: 12px;
  width: 15px;
  height: 15px;
  background-color: #b3b3b3;
}

.slide-show-dot:hover {
  background-color: #404040;
}

.slide-show-dot-active {
  background-color: #404040;
}

.right-slide-btn {
  right: 0;
}

.left-slide-btn {
  left: 0;
}

.slide-show-btn {
  background-color: rgba(5, 5, 5, 0.40);
  transition: all 0.3s;
  font-size: 1.3rem !important;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  position: absolute;
}

.slide-show-btn:hover {
  background-color: rgba(5, 5, 5, 0.8);
}


.detailedPrjGrid-item {}

.featureGrid {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.featureGrid p {
  text-align: center;
  padding: 8px;
  margin: 10px;
}

#implemented {
  padding: 5px;
}

picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.modall {
  
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  /* Black w/ opacity */

  
  overflow-y: auto;
  
}

.modall-content {

  overflow: auto;
  max-width: 1150px;
  background-color: white;
  display: grid;
  animation-name: zoom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.modall-content.out{
  animation-name: zoom_out;
  
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoom_out{
  100%{
    transform: scale(0);
    display: none;
  }
}

.close_container {
  /*
  position: absolute;
  top: 4px;
  right: 10px;
  */
  width: 100%;
  
  padding-right: 10px;
  text-align: right;
  
  
}
.close_container span{
  user-select: none;
  color: #bbb;
  font-size: calc(30px + 0.8vw) !important;
  font-weight: bolder;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.close_container span:hover,
.close_container span:focus {
  color: #f1f1f1;
  
  
}



#gcse-container {
  padding: 12px;
}



.flex-center {
  display: flex;
  justify-content: center;
}

th {
  text-align: center;
  font-size: calc(12.5px + 0.35vw) !important;
}

td {
  text-align: center;
}
.table td, .table th{
  vertical-align: middle;
}
.academics-table {

  max-width: 900px;
  margin:auto;
}

.academics-table>thead {
  background-color: hsla(122, 39%, 56%, 1);
}





/*
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: hsla(122, 39%, 48%, 1);
}
*/


table {
  word-break: break-all;
  table-layout: fixed;
  font-weight: 500;
  margin-bottom: 1vh;
}
